header {
    background-color: #ffe5b4;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    z-index: 1000; /* Ensures the header stays above other content */
    padding: 10px 20px;
    text-align: center;
}

body {
    background-color: #f5f5dc;
}
.centered-content {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}